<!-- footer.component.html -->
<footer class="footer bg-light text-white text-center py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact</h5>
          <div class="social-icons mt-1">
            <a href="#" ><i class="fas fa-envelop"></i>{{email}}</a> <br>
            <a href="#" ><i class="fas fa-phone"></i>{{phone}}</a>
          </div>
        </div>
        <div class="col-md-4">
          <h5 >Social Media</h5>
          <div class="social-icons mt-3">
            <a href="#" class="social-icon "><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            <!-- Add more social icons as needed -->
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="footer-title">Abut Us</h5>
          <ul class="list-unstyled">
            <li><a href="https://github.com/yourusername" target="_blank">Our Services</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  